<%- include('partials/header') %>
<div class="main-body-container">
    <%- include('partials/nav') %>
    <div class="main-content-container">
        <div class="blog">
            <h2><%= blog.title %></h2>
            <pre><%= blog.content %></pre>
        </div>
    </div>
    <%- include('partials/footer') %>
</div>
